{% extends "base.html" %}

{% load staticfiles %}

{% block top_div_extra_class %}{% endblock %}

{% block top_div_extra_content %}


{% endblock %}

{% block content %}
    <app></app>

{#    <div class="ui grid container">#}
{#        <div class="row">#}
{#            <div class="column wide sixteen">#}
{#                <h1>Chahub</h1>#}
{#                <p>Feed of updates...</p>#}
{##}
{#                <update-feed></update-feed>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
