{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Chahub</title>

    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Riot -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.6.1/riot+compiler.min.js"></script>
    <!-- Semantic -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <!-- Datepicker -->
    <link rel="stylesheet" href="{% static "css/calendar.min.css" %}">
    <script src="{% static "js/calendar.min.js" %}"></script>

    <script src="{% static "js/luxon.js" %}"></script>

    <script src="{% static "js/riot-route.js" %}"></script>
    <script src="{% static "js/jquery.form.serializer.js" %}"></script>

    <!-- Riot tags -->
    <script src="{% static "generated/riot.js" %}"></script>
    <!-- Our JS -->
    <script src="{% static "js/ours/utils.js" %}"></script>
    <script src="{% static "js/ours/client.js" %}"></script>
    <script src="{% static "js/ours/init.js" %}"></script>
    <script src="{% static "js/ours/router.js" %}"></script>

    <!-- Compiled stylus -->
    <link rel="stylesheet" href="{% static "generated/output.css" %}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="{% static "js/reconnecting-websocket.min.js" %}"></script>

    {% block extra_head %}
    {% endblock %}
</head>
<body>


<div class="ui grid container">
    <div class="row">
        <div class="column wide sixteen">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>


<script>
    // Load in URLs or other django generated goodies
    URLS = {
        assets: {
            header_particles: "{% static "particles/header.json" %}"
        },
        API: "/api/v1/"
    }
</script>

{% block extra_body %}
{% endblock %}


</body>
</html>
