{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Chahub Beta</title>
    <meta property="og:title" content="Chahub"/>
    <meta property="og:description"
          content="Chahub is a resource aggregator for machine learning researchers and students. We track many machine learning competitions, datasets, and competitors."/>
    <meta property="og:image"
          content="https://{{ request.get_host }}{% static 'img/chahub_logo_with_background.png' %}"/>

    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static "css/calendar.min.css" %}">
    <link rel="stylesheet" href="{% static "generated/output.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    {% block extra_head %}
    {% endblock %}

    <style>
        body {
            background: rgb(255, 255, 255) !important;
        }

        body.pushable > .pusher {
            background: rgb(255, 255, 255) !important;
        }

        .footer.pusher {
            min-height: 0 !important;
            z-index: unset;
            background: rgb(255, 255, 255) !important;
        }

        #chafooter {
            padding: 10px;
            background: rgb(255, 255, 255) !important;
        }

        body.pushable > #chafooter {
            background: rgb(255, 255, 255) !important;
        }

        body.pushable {
            background: rgb(255, 255, 255) !important;
        }

        .ui.uncover.sidebar {
            z-index: 3 !important;
        }
    </style>
</head>
<body>

<div id="content">
    {% block content %}

    {% endblock %}
</div>

<div class="footer pusher">
    <div id="chafooter" class="ui horizontal divided tiny list">
        <div class="item">
            <div class="content">
                <i>Chahub is a service of <a href="http://codalab.org/">Codalab</a></i>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="https://github.com/codalab/codalab/issues" target="_blank">Join us on Github</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{% url 'docs' 'v1' %}" target="_blank">API</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="https://github.com/codalab/codalab/wiki/Project_About_CodaLab">About</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="https://github.com/codalab/codalab/wiki/Privacy" target="_blank">Privacy and Terms</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js"></script>
<script src="{% static "js/calendar.min.js" %}"></script>
<script src="{% static "js/luxon.js" %}"></script>
<script src="{% static "js/riot.js" %}"></script>
<script src="{% static "js/riot-route.js" %}"></script>
<script src="{% static "js/jquery.form.serializer.js" %}"></script>
<script src="{% static "generated/riot.js" %}"></script>
<script src="{% static "js/ours/utils.js" %}"></script>
<script src="{% static "js/ours/client.js" %}"></script>
<script src="{% static "js/ours/init.js" %}"></script>
<script src="{% static "js/ours/router.js" %}"></script>
<script src="{% static "js/reconnecting-websocket.min.js" %}"></script>
<script>
    // Load in URLs or other django generated goodies
    URLS = {
        assets: {
            header_particles: "{% static "particles/header.json" %}"
        },
        API: "/api/v1/",
        ADMIN: "{% url 'admin:index' %}",
        HOME: "{% url 'pages:index' %}",
        LOGIN: "{% url 'login' %}",
        LOGOUT: "{% url 'logout' %}",
        MERGE_ACCOUNTS: "{% url 'profiles:merge' %}",
        OAUTH: "{% url 'oauth2_provider:list' %}",
        PRODUCERS: "{% url 'producers:management' %}",
        STATIC: function (asset_url) {
            return "{{ STATIC_URL }}" + asset_url
        },
        MY_PROFILE: {% if request.user.is_authenticated %}"{% url 'profiles:user_profile' username=request.user.username %}"{% else %}""{% endif %},
        SOCIAL_BEGIN: {
            GITHUB: "{% url 'social:begin' 'github' %}"
        },
        COMPETITION_DETAIL: function(pk) {
            return "{% url 'competitions:detail' pk=0 %}".replace('0', pk)
        },
        TASK_DETAIL: function(pk) {
            return "{% url 'tasks:detail' pk=0 %}".replace('0', pk)
        },
        DATASET_DETAIL: function(pk) {
            return "{% url 'datasets:detail' pk=0 %}".replace('0', pk)
        }
    }
    CHAHUB.state = {
        user: {
            is_authenticated: {{ user.is_authenticated|yesno:"true,false" }},
            is_superuser: {{ user.is_superuser|yesno:"true,false" }},
            username: "{{ user.username|default:"Anonymous" }}",
        },
        producers: JSON.parse("{{ producers|escapejs|default:"[]" }}"),
    }

</script>

{% block extra_body %}
{% endblock %}


</body>
</html>
