{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Chahub</title>

    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Riot -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.6.1/riot+compiler.min.js"></script>
    <!-- Semantic -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!-- Datepicker -->
    <link rel="stylesheet" href="{% static "css/calendar.min.css" %}">
    <script src="{% static "js/calendar.min.js" %}"></script>
    <script src="{% static "js/luxon.js" %}"></script>

    <script src="{% static "js/riot-route.js" %}"></script>
    <script src="{% static "js/jquery.form.serializer.js" %}"></script>

    <!-- Riot tags -->
    <script src="{% static "generated/riot.js" %}"></script>
    <!-- Our JS -->
    <script src="{% static "js/ours/utils.js" %}"></script>
    <script src="{% static "js/ours/client.js" %}"></script>
    <script src="{% static "js/ours/init.js" %}"></script>
    <script src="{% static "js/ours/router.js" %}"></script>

    <!-- Compiled stylus -->
    <link rel="stylesheet" href="{% static "generated/output.css" %}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="{% static "js/reconnecting-websocket.min.js" %}"></script>

    {% block extra_head %}
    {% endblock %}
</head>
<body>

<sidebar></sidebar>
<div class="pusher">
    <app></app>
</div>

<div class="footer pusher">
    <div id="chafooter" class="ui horizontal divided tiny list">
        <div class="item">
            <div class="content">
                <i>Chahub is a service of <a href="http://codalab.org/">Codalab</a></i>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="https://github.com/codalab/codalab/issues" target="_blank">Join us on Github</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{% url 'api:docs' 'v1' %}" target="_blank">API</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="https://github.com/codalab/codalab/wiki/Project_About_CodaLab">About</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="https://github.com/codalab/codalab/wiki/Privacy" target="_blank">Privacy and Terms</a>
            </div>
        </div>
    </div>
</div>

<script>
    // Load in URLs or other django generated goodies
    URLS = {
        assets: {
            header_particles: "{% static "particles/header.json" %}"
        },
        API: "/api/v1/",
        STATIC: function (file_name) {
            return "{% static '!-to-be-replaced-!' %}".replace('!-to-be-replaced-!', file_name)
        }
    }
    PRODUCERS = JSON.parse("{{ producers|escapejs }}")
    {% if default_search_results %}
        DEFAULT_SEARCH_RESULTS = JSON.parse("{{ default_search_results|escapejs }}")
    {% else %}
        DEFAULT_SEARCH_RESULTS = undefined
    {% endif %}
    USER_AUTHENTICATED = ("{{ user.is_authenticated }}" === "True")
</script>

{% block extra_body %}
{% endblock %}


</body>
</html>

<style>
    body {
        background: rgb(255, 255, 255) !important;
    }

    body.pushable > .pusher {
        background: rgb(255, 255, 255) !important;
    }

    .footer.pusher {
        min-height: 0 !important;
        z-index: unset;
        background: rgb(255, 255, 255) !important;
    }

    #chafooter {
        padding: 10px;
        background: rgb(255, 255, 255) !important;
    }

    body.pushable > #chafooter {
        background: rgb(255, 255, 255) !important;
    }

    body.pushable {
        background: rgb(255, 255, 255) !important;
    }

    .ui.uncover.sidebar {
        z-index: 3 !important;
    }
</style>
