{% extends 'email/base_email.html' %}
{% block content %}
    <p>A merge request has been created to merge the account belonging to {{ secondary_account.email }}
    into the account belonging to {{ master_account.email }}.</p>

    <p>If you did not request this merge, contact us at info@codalab.org.</p>
    <p>If you did request this merge, please follow the link below:</p>
    <a style="margin-top: 2.5vh; margin-bottom: 2.5vh;" class="ui large blue button" href="http://{{ site_domain }}{{ verification_url }}">Merge Accounts</a>
{% endblock %}
