{% extends 'base_simple.html' %}
{% load static %}

{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        {% if form.non_field_errors %}
        <div class="ui red message">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <h2 class="ui teal image header">
            <img src="{% static 'img/temp_chahub_logo_beta.png' %}" class="image" style="width: 350px; opacity: 0.75;">
        </h2>
        <form class="ui large form" method="POST">
            <div class="ui stacked segment">
                {% csrf_token %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" id="id_username" placeholder="username" value="{{ form.username.value | default_if_none:''}}">
                    </div>
                </div>
                {% if form.username.errors %}
                <div class="ui red message">
                    {{ form.username.errors }}
                </div>
                {% endif %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="write icon"></i>
                        <input type="password" name="password" id="id_password" placeholder="password" value="{{ form.password.value | default_if_none:'' }}">
                    </div>
                </div>
                {% if form.password.errors %}
                <div class="ui red message">
                    {{ form.password.errors }}
                </div>
                {% endif %}
                <button class="ui fluid large teal submit button" type="submit">Login</button>
                <div class="ui error message">
                    {% for error in form.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </div>
        </form>
        <div class="ui message">
            New to us? <a href="{% url 'profiles:signup' %}">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}