{% extends 'base_simple.html' %}
{% load static %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="{% static "img/codalab-logo-fullcolor-positive.png" %}" style="width: 272px; height: 100px;"
                     class="image">
            </h2>
            <form class="ui large form" method="POST">
            <div class="ui stacked segment">
                {% csrf_token %}
                {% for field in form %}

                        <div class="field">
                            <div class="ui left icon input">
                                {% if field.name == 'username' %}
                                    <i class="user icon"></i>
                                    <input type="text" name="{{ field.name }}" placeholder="{{ field.name }}">
                                {% elif field.name == 'email' %}
                                    <i class="mail icon"></i>
                                    <input type="text" name="{{ field.name }}" placeholder="{{ field.name }}">
                                {% else %}
                                    <i class="write icon"></i>
                                    <input type="password" name="{{ field.name }}" placeholder="password">
                                {% endif %}
                            </div>
                        </div>

                {% endfor %}
                <button class="ui fluid large teal submit button" type="submit">Create Account</button>
                <div class="ui error message">
                    {% for error in form.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}